#button {
    background: linear-gradient(#93b4d6, #162d49);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    height: 50px;
    width: 400px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
  }