#p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .text {
    padding-left: 150px; color: white;
  }

  .picture

    {
      background: url(/assets/img/codage.jpg); height: 150px; width: 150px; border-radius: 1em; position: absolute;
    }

  .board

  {
    background: linear-gradient(#3A528A, #15213B); 
    height: 250px;
     width: 800px;
     border-radius: 1em; 
     box-shadow: 10px 5px 5px black;
  }